<ion-card class="card">
    <ion-buttons class="setting">
      <ion-button (click)="presentPopover($event)">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-card-content class="card-contend">
      <ion-grid fixed>
        <ion-row>
          <ion-col class="title" size="12">
            <ion-title>{{ Title }}</ion-title>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <p>{{ Description }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="btn" size="12">
            <!-- Ocultar el botón si la tarea está hecha (done es true) -->
            <app-button 
              *ngIf="!done"  
              (click)="markAsDone()" 
              value="Done">
            </app-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  