<ion-card class="card" >
    <ion-buttons class="setting">
        <ion-button (click)="presentPopover($event)">
            <ion-icon name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-card-content class="card-contend" *ngIf="task">
        <ion-grid fixed>
            <ion-row >
                <ion-col class="title" size="12">
                    <ion-title>{{ task.title }}</ion-title>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                        <p>{{ task.description }}</p>
                        <p>{{ task.date | date: 'short' }}</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="btn" size="12">
                    <app-button value="Done"></app-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
</ion-card>