<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <form>
        <ion-grid>
          <ion-row>
            <ion-col>
              <app-input type="email" label="email"></app-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-input type="password" label="Password"></app-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-button value="Login" [color]="'success'"></app-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
