<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
        <ion-grid>
          <ion-row>
            <ion-col>
              <app-input
                [control]="email"
                type="email"
                label="email"
              ></app-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-input
                [control]="password"
                type="password"
                label="Password"
              ></app-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <a [routerLink]="['/register']">Sign up</a>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-button
                [disable]="loginForm.invalid"
                value="Login"
              ></app-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
