<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back" defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <app-form [title]="'Register'" [message]="'Signup now and get full access to our app.'" [message_footer]="'Already have an account ?'" [link]="'Sign in'" ></app-form>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
    </ion-col>
  </ion-row>
</ion-content>