<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="home" defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <form [formGroup]="singupForm"  (ngSupmit)="doRegister() ">
        <ion-row>
          <ion-col>
            <app-avatar [control]="image"></app-avatar>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-input [control]="name" label="Name" type="text"></app-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-input [control]="lastName" label="LastName" type="text"></app-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-input [control]="email" label="email" type="email"></app-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-input [control]="password" label="Password" type="password"></app-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-button
              [disable]="singupForm.invalid"
              value="Register"
              type="submit"
            ></app-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>