<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="home" defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <app-form></app-form>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <app-button
        [disable]="isFormValid"
        value="Register"
        type="submit"
      ></app-button>
    </ion-col>
  </ion-row>
</ion-content>