<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> TASK MANAGER </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card">
    <ion-grid>
      <form [formGroup]="taskForm" (ngSubmit)="addTask()">
      <ion-row>
        <ion-col size="12">
          <ion-input
            label="Title"
            type="text"
            [fill]="'outline'"
            [placeholder]="'Title'"
            formControlName="title"
          ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-textarea formControlName="description" label="Description" fill="outline" placeholder="Task..." labelPlacement="floating" rows="5"></ion-textarea>     
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="btn" size="12">
          <app-button type="submit" value="Add" ></app-button>
        </ion-col>
      </ion-row>
    </form>
    </ion-grid>
  </ion-card>
  <ion-toolbar>    
    <ion-item>
      <ion-title>Tasks</ion-title>
      <ion-select value="inProgress" multiple="true" placeholder="Select state">
        <ion-select-option value="finished">Finished</ion-select-option>
        <ion-select-option value="inProgress">In Progress</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>      
  <ion-grid>
    <ion-row *ngFor="let task of tasks">
      <ion-col size="12">
        <app-card [task]="task"></app-card> <!-- Corregir el enlace de tarea -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-icon class="setting" name="settings" (click)="openSettingsModal()"></ion-icon>