<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> TASK MANAGER </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <app-input
            label="Title"
            type="text"
            [fill]="'outline'"
            [placeholder]="'Title'"
          ></app-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-textarea label="Description" fill="outline" placeholder="Task..." labelPlacement="floating" rows="5"></ion-textarea>     
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="btn" size="12">
          <app-button value="Add"></app-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>      
  @if(tasks.length === 0){
    <ion-card>
      <ion-card-header>
        <ion-card-title> Tasks are empty. XD </ion-card-title>
      </ion-card-header>
    </ion-card>
    }
</ion-content>

<ion-buttons class="setting">
    <ion-button (click)="presentPopover($event)">
      <ion-icon name="settings"></ion-icon>
    </ion-button>
</ion-buttons>