<ion-card>
  <ion-card-content>
    <form [formGroup]="FormGrp">
      <ion-row>
        <ion-col>
          <app-avatar></app-avatar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-input label="Name" type="text"></app-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-input label="LastName" type="text"></app-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-input label="age" type="number"></app-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-input label="phone" type="tel"></app-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-input label="email" type="email"></app-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-input label="Password" type="password"></app-input>
        </ion-col>
      </ion-row>     
    </form>
  </ion-card-content>
</ion-card>