.container {
    position: absolute;
    top: 45%;
    left: 48%;
    opacity: 0.3;
  }
  
  .square {
    width: 8px;
    height: 30px;
    background: #00DDEB;
    border-radius: 10px;
    display: block;
    /*margin:10px;*/
    -webkit-animation: turn 2.5s ease infinite;
    animation: turn 2.5s ease infinite;
    box-shadow: #AF40FF  0px 1px 15px 0px;
  }
  
  .top {
    position: absolute;
    left: 40%;
    top: 50%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .bottom {
    position: absolute;
    left: 40%;
    top: 50%;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  
  .left {
    position: absolute;
    left: 40%;
    top: 50%;
  }
  
  .right {
    position: absolute;
    left: 40%;
    top: 50%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  
  @-webkit-keyframes turn {
    0% {
      transform: translateX(0) translateY(0) rotate(0);
    }
  
    50% {
      transform: translateX(400%) translateY(100%) rotate(90deg);
    }
  
    100% {
      transform: translateX(0) translateY(0) rotate(0);
    }
  }
  
  @keyframes turn {
    0% {
      transform: translateX(0) translateY(0) rotate(0);
    }
  
    70% {
      transform: translateX(400%) translateY(100%) rotate(90deg);
    }
  
    100% {
      transform: translateX(0) translateY(0) rotate(0);
    }
  }